@import "src/styles/globals";

.wrapper {
  background-color: white;
  width: 20rem;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  border-radius: 2rem;
  border-width: 1rem;
  border-color: black;
}

.container {
  z-index: 2;
  border-radius: 2rem;
  border-width: 1rem;
  border-color: black;
}


.options {
  list-style-type: none;
}

.option {
  color: black;
}

.title {
  color: $primary-color;
  font-size: 1.2rem;
}

.swiper {
  height: 15rem;
  background-color: white;
  width: 100%;
}

.swiper-slide {
  font-size: 1rem;
  height: 1rem;
  padding-top: 0.2rem;
}