@import 'src/styles/globals';

.select {
  background: #35373A 0% 0% no-repeat padding-box;
  text-align: left;
  letter-spacing: 0.16px;
  color: #FFFFFFDE;
  opacity: 1;
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.option {
  text-indent: 1rem;
}