@import "src/styles/globals";

@font-face {
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 25rem;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0.375rem 2rem #0E2A6029;
  border-radius: 0.5rem;
  opacity: 1;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
}

.gallery {
  height: 10rem;
  flex-wrap: nowrap;
}

.img {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-right: 0.4rem;
  text-align: center;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem;
  padding-top: 0.6rem;
}

.option {
  display: flex;
  flex-direction: column;
}

.option-title {
  font-size: 0.8rem;
  color: $secondary-color;
}

.option-content {
  font-size: 0.9rem;
}

.title-block {
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.title, .vin {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 1.2rem;
}


.year {
  color: $primary-color;
  font-size: 0.8rem;
  padding-left: 0.2rem;
}

.vin {
  color: $text-color;
  font-size: 0.8rem;
}

.buy {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price {
  font-size: 1.6rem;
  color: $primary-color;
}

.button {
  width: 80%;
  padding: 0.5rem;
  background: transparent linear-gradient(105deg, #11998E 0%, #38EF7D 100%) 0% 0% no-repeat padding-box;
  border-radius: 0.5rem;
  opacity: 1;
  border-width: 0;
  color: #FFFFFF;
  font-size: 0.6rem;
  justify-self: end;
}

.visible-options {
  height: 100%;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.abc {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-right: 0;
}

.clipped-text {
  max-width: 7rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.other-options-button {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: $text-color;
}